<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Best website forever" />
    <meta name="author" content="Romain Gauvin" />
    <title>Pinterest · {% block title %}Home{% endblock %}</title>

    <!-- Font Family -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        html, body {
            font-family: 'Montserrat', sans-serif;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ path('index') }}">Pinterest</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('create') }}">New Pin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container mt-2">

        {% for type, messages in app.flashes %}
            {% for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}
    </main>

    <footer class="container text-center mt-5">
        <p class="text-muted">
            <small>
                &copy; 2019 - {{ 'now'|date('Y') }} &middot;
                Built with <span class="text-danger">&hearts;</span> by <a href="https://romaingauvin.fr/">WaDixix</a>
            </small>
        </p>
    </footer>

   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

